<!doctype hmtl>

<md-dialog aria-label="Item Dialog">
    <span class="dialog-title">Add New Item</span>
    <md-dialog-content class="item-dialog">
        <div layout="column">
            <md-input-container>
                <label>Item Number</label>
                <input type="text" ng-model="itemno"/>
            </md-input-container>
            <md-input-container>
                <label>Item Description</label>
                <input type="text" ng-model="item_desc" />
            </md-input-container>
            <md-input-container>
                <md-checkbox ng-model="confirm">Confirmation Required?</md-checkbox>
            </md-input-container>
            <label>Notification Type</label>
            <md-select ng-model="selectedNotif" placeholder="Select Notification Type" ng-model-options="{trackBy: '$value.id'}">
                <md-option ng-value="notif" ng-repeat="notif in notif_types">{{notif.desc}}</md-option>
            </md-select>
            <md-input-container>
                <label>Distribution List</label>
                <input type="text" ng-model="dist_list"/>
            </md-input-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="closeDialog()" class="md-secondary md-raised">Cancel</md-button>
        <md-button ng-click="saveNewItem()" class="md-primary md-raised">Save Item</md-button>
    </md-dialog-actions>
</md-dialog>
